[submodule "endomorphisms"]
	path = endomorphisms
	url = https://github.com/edgarcosta/endomorphisms.git
[submodule "curve_reconstruction"]
	path = curve_reconstruction
	url = https://github.com/JRSijsling/curve_reconstruction.git
[submodule "RiemannSurfaces"]
	path = RiemannSurfaces
	url = https://github.com/JRSijsling/RiemannSurfaces.git
[submodule "gluing"]
	path = gluing
	url = https://github.com/JRSijsling/gluing.git
[submodule "quartic_reconstruction"]
	path = quartic_reconstruction
	url = https://github.com/JRSijsling/quartic_reconstruction.git
[submodule "quartic_isomorphisms"]
	path = quartic_isomorphisms
	url = https://github.com/JRSijsling/quartic_isomorphisms.git
[submodule "MagmaUtils"]
	path = MagmaUtils
	url = https://github.com/cjdoris/MagmaUtils.git
[submodule "Genus2Conductor"]
	path = Genus2Conductor
	url = https://github.com/cjdoris/Genus2Conductor.git
[submodule "ExactpAdics2"]
	path = ExactpAdics2
	url = https://github.com/cjdoris/ExactpAdics2.git
[submodule "pAdicGaloisGroup"]
	path = pAdicGaloisGroup
	url = https://github.com/cjdoris/pAdicGaloisGroup.git
