[submodule "endomorphisms"]
	path = endomorphisms
	url = https://github.com/edgarcosta/endomorphisms.git
  branch = master
  update = rebase
[submodule "curve_reconstruction"]
	path = curve_reconstruction
#	url = https://github.com/JRSijsling/curve_reconstruction.git
	url = https://github.com/edgarcosta/curve_reconstruction.git
  branch = master
  update = rebase
[submodule "RiemannSurfaces"]
	path = RiemannSurfaces
	url = https://github.com/JRSijsling/RiemannSurfaces.git
  branch = master
  update = rebase
[submodule "gluing"]
	path = gluing
	url = https://github.com/JRSijsling/gluing.git
  branch = master
  update = rebase
[submodule "quartic_reconstruction"]
	path = quartic_reconstruction
	url = https://github.com/JRSijsling/quartic_reconstruction.git
  branch = master
  update = rebase
[submodule "quartic_isomorphisms"]
	path = quartic_isomorphisms
	url = https://github.com/JRSijsling/quartic_isomorphisms.git
  branch = master
  update = rebase
[submodule "MagmaUtils"]
	path = MagmaUtils
	# url = https://github.com/cjdoris/MagmaUtils.git
	url = https://github.com/edgarcosta/MagmaUtils.git
  ignore = dirty
  branch = master
  update = rebase
[submodule "Genus2Conductor"]
	path = Genus2Conductor
	url = https://github.com/cjdoris/Genus2Conductor.git
  ignore = dirty
  branch = master
  update = rebase
[submodule "ExactpAdics2"]
	path = ExactpAdics2
	# url = https://github.com/cjdoris/ExactpAdics2.git
	url = https://github.com/edgarcosta/ExactpAdics2.git
  ignore = dirty
  branch = master
  update = rebase
[submodule "pAdicGaloisGroup"]
	path = pAdicGaloisGroup
	url = https://github.com/cjdoris/pAdicGaloisGroup.git
  ignore = dirty
  branch = master
  update = rebase
[submodule "hcperiods"]
	path = hcperiods
	url = https://github.com/pascalmolin/hcperiods.git
  ignore = dirty
  branch = master
  update = rebase
[submodule "pAdicExtensions"]
	path = pAdicExtensions
	url = https://github.com/cjdoris/pAdicExtensions.git
  ignore = dirty
  branch = master
  update = rebase
[submodule "echidna"]
	path = echidna
	url = https://github.com/edgarcosta/echidna.git
  branch = master
  update = rebase
[submodule "gists/sutherland"]
	path = gists/sutherland
	url = https://gist.github.com/52eb0a8de56d78724be6c07f63ac2caa.git
  ignore = dirty
  branch = master
  update = rebase
[submodule "hermite"]
	path = hermite
	url = https://github.com/dansme/hermite.git
  branch = master
  update = rebase
[submodule "ZetaPlaneCurves"]
	path = ZetaPlaneCurves
	url = https://github.com/edgarcosta/ZetaPlaneCurves.git
  branch = main
  update = rebase
[submodule "ModFrmGL2"]
	path = ModFrmGL2
	branch = master
	url = https://github.com/assaferan/ModFrmGL2.git
[submodule "avisogenies"]
	path = avisogenies
	branch = master
	url = https://gitlab.inria.fr/roberdam/avisogenies.git
[submodule "MagmaPolred"]
	path = MagmaPolred
  branch = master
	url = https://github.com/edgarcosta/MagmaPolred.git
[submodule "genus2twists"]
	path = genus2twists
  branch = main
	url = https://github.com/rbommel/genus2twists.git
[submodule "Magma"]
	path = Magma
	url = https://github.com/AndrewVSutherland/Magma
  branch = main
[submodule "IntegralPointsConic"]
	path = IntegralPointsConic
	url = https://github.com/edgarcosta/IntegralPointsConic.git
  branch = main
[submodule "MichaelStollMagma"]
	path = MichaelStollMagma
	url = https://github.com/edgarcosta/MichaelStollMagma.git
  branch = main
[submodule "cm-calculations"]
	path = cm-calculations
	url = https://github.com/edgarcosta/cm-calculations.git
	branch = main
[submodule "Parallel.magma"]
	path = Parallel.magma
	url = https://github.com/edgarcosta/Parallel.magma.git
	branch = main
[submodule "Theta.magma"]
	path = Theta.magma
	url = https://github.com/edgarcosta/Theta.magma.git
	branch = main
[submodule "genus3torsion"]
	path = genus3torsion
	url = https://github.com/rbommel/genus3torsion.git
	branch = main
[submodule "NumericalSolve.magma"]
	path = NumericalSolve.magma
	url = https://github.com/edgarcosta/NumericalSolve.magma.git
	branch = main
